.login{
    text-align: center;
    font-size: 15px;
}
.head{
    background-color:skyblue;
}
.h1{
    text-align: center;
}

.head{
    text-align: center;
    font-size: 30px
}
.boot{
    text-align:center;
    margin-right: 800px;
}
.side{
    font-size: 5px;
}